<html>
    <head>
        <title>
            Contact Form
        </title>
        <link rel="stylesheet" href="/static/contact.css">
    </head>
    <body>
        <div class="contact-box">
            <h1>Contact Us</h1>
            <form>
                
                <input type="text" class="input-field" placeholder="Your Name">
                <input type="email" class="input-field" placeholder="Your Email">
                <input type="text" class="input-field" placeholder="Subject">
                <textarea type="text" class="input-field textarea-field" placeholder="Your message">
                </textarea>
                <button type="button" class="btn">Send Message</button>
                </form>
        </div>
    </body>
</html>