<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Services</title>
        <link rel="stylesheet" href="/static/service.css">
        <script src="https://kit.fontawesome.com/79aaae0a3a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h1>Our Services</h1>
            <div class="row">
                <div class="service">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <h2>Phishing Detection</h2>
                    <p>A service that helps identify fake emails or messages that try to trick people into giving away their personal information</p>
                </div>
                <div class="service">
                    <i class="fa-solid fa-shield-halved"></i>
                    <h2>Intrusion Detection</h2>
                    <p>A service that monitors network traffic for any suspicious activity or attacks and alerts you if anything unusual is detected</p>
                </div>
                <div class="service">
                    <i class="fa-solid fa-user"></i>
                    <h2>User Behavior Analytics</h2>
                    <p>A service that uses machine learning to monitor user activity and detect any unusual behavior that may indicate a security breach</p>
                </div>
                <div class="service">
                    <i class="fa-solid fa-lock"></i>
                    <h2>Risk Assessment</h2>
                    <p>A service that helps identify potential security risks and vulnerabilities in your system</p>
                </div>
            </div>
        </div>
    </body>
</html>